@import "tailwindcss";

@theme {
  --color-pharmlyGreen: #0d3b36;
  --color-pharmlyLightGreen: #d4ed66;
  --color-pharmlyGray: #f8f9fa;
  --color-pharmlyTextDark: #1a1a1a;
  --color-pharmlyTextGray: #6b7280;
  --color-pharmlyCard: #ffffff;
  --animate-float: float 6s ease-in-out infinite;
  --animate-float-delayed: float 6s ease-in-out infinite 3s;
  --animate-float-slow: float 8s ease-in-out infinite 1s;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@layer base {
  body {
    background-color: #f4f7f6;
    color: #111827;
    -webkit-font-smoothing: antialiased;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}